# Compose used for production

version: '3.5'

services:
  rmod:
    build:
      context: ${SCRAPPER_PATH:-.}
      dockerfile: ./Dockerfile
      cache_from:
        - agoradigital/r-scrapper
    image: agoradigital/r-scrapper
    container_name: rmod
    volumes:
      - proposicoes_data:/agora-digital/exported

volumes:
  proposicoes_data:
    external:
      name: back_proposicoes_data
